:root {
    --color-primary: #1DB954;
    --color-primary-accent: #007D2A;
    --color-light: #FFFFFF;
    --color-light-accent: #cbcbcb;
    --color-dark: #181818;
    --color-dark-accent: #404040;
}

body {
    margin: 0;
    font-family: 'Arvo', serif;
}

button {
    font-family: 'Arvo', serif;
}

#loginButton:focus {
    outline-color: var(--color-primary-accent);
    outline-width: thick;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

#logoText {
    font-size: 40px;
    font-weight: bolder;
    margin-left: 20px;
}

#loginButton {
    width: 120px;
    height: 40px;
    margin-right: 40px;
    border-radius: 3px;
    background-color: var(--color-light);
    border: 0px;
    color: var(--color-dark);
    font-size: 20px;
    font-weight: bold;
}

#account_name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 20px;
}

#account_image {
    height: 50px;
}

#account_label {
    display: flex;
    align-items: center;
}

#loginButton:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

#loginButton:active {
    background-color: var(--color-primary);
    color: var(--color-light);
    transform: scale(0.95, 0.95);
}

#contentContainer {
    width: 100%;
    height: 100%;
    color: var(--color-light);
    background-color: var(--color-dark);
}

#defaultContent {
    color: var(--color-dark);
    font-size: 35px;
    font-weight: bolder;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .contentImage {
    width: 200px;
    border-style: solid;
    border-color: var(--color-light);
  }
  
  .contentHeader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .contentTitle {
      font-size: 120px;
      font-weight: bold;
      text-align: center;
  }

  #contentHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contentType {
      color: var(--color-light-accent);
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: lighter;
  }

  .horizontalSpacer {
      height: 0px;
      width: 20px;
  }

  .item {
      margin: 10px;
  }