:root {
    --color-primary: #1DB954;
    --color-primary-accent: #007D2A;
    --color-light: #FFFFFF;
    --color-light-accent: #cbcbcb;
    --color-dark: #181818;
    --color-dark-accent: #404040;
}

body {
    margin: 0px;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 10px 0;
}

button {
    font-family: 'Arvo', serif;
    background-color: var(--color-dark);
    border: 2px solid var(--color-light);
    color: var(--color-light);
    outline-width: 0;
    font-weight: bolder;
}

.headerButton {
    font-size: 15px;
    height: 40px;
}

button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

button:active {
    background-color: var(--color-light);
    color: var(--color-dark);
    transform: scale(0.95, 0.95);
}

button:focus {
    border-style: dashed;
}

a {
    color: var(--color-light);
    outline-width: 0;
}

a:focus {
    border-style: dashed;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: 'Arvo', serif;
    font-weight: bolder;
}

#logoText {
    font-size: 40px;
    flex-grow: 1;
    margin: 0 20px;
}

#accountName {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

#accountImage {
    height: 50px;
}

#accountLabel {
    display: flex;
    align-items: center;
    border: 3px solid var(--color-light);
    outline-width: 0px;
    padding: 0;
}

#defaultContent {
    color: var(--color-light);
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.titleImage {
    width: 200px;
    border-style: solid;
    border-color: var(--color-light);
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titleText {
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

#contentType {
    color: var(--color-light-accent);
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.item {
    margin: 10px;
}

#contentContainer {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.progressBar {
    width: 30%;
    height: 30px;
    background-color: transparent;
    border: 3px solid var(--color-light);
    position: relative;
    text-align: start;
    margin: 20px;
}

.progressBar .progressBarValue {
    background-color: var(--color-light);
    display: inline-block;
    height: 100%;
    color: var(--color-dark);
    text-align: center;
}

.sectionItem {
    margin: 20px;
}

.tag {
    border: 3px solid var(--color-light);
    font-size: 25px;
    padding: 5px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.seperator {
    width: 3%;
    height: 0px;
    border: 1px solid var(--color-light);
    margin: 20px 0;
}

.trackLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid var(--color-light);
}

.trackImage {
    width: 100px;
}

.trackCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#popularityLabel {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#authorizeButton {
    font-size: 30px;
    width: 200px;
    border-width: 4px;
}

.markedText {
    color: var(--color-primary);
}