.headerButton {
    color: var(--color-text);
    border-color: var(--color-text);
    @apply border-2 h-10 p-1 sm:border-4 sm:h-16 sm:p-2;
}

.headerButton:hover {
    background-color: var(--color-text);
    color: var(--color-primary);
}