@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --color-primary: #181818;
    --color-secondary: #1D8954;
    --color-text: #FFFFFF;
    /* STATIC DEFAULTS */
    --color-primary-default: #181818;
    --color-secondary-default: #1D8954;
    --color-text-default: #FFFFFF;
}

body {
    @apply text-text-color bg-primary-color border-text-color transition-colors duration-500 min-h-screen;
}
