@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
:root {
    --color-primary: #181818;
    --color-secondary: #1D8954;
    --color-text: #FFFFFF;
    /* STATIC DEFAULTS */
    --color-primary-default: #181818;
    --color-secondary-default: #1D8954;
    --color-text-default: #FFFFFF;
}

body {
    color: var(--color-text);
    background-color: var(--color-primary);
    border-color: var(--color-text);
    @apply transition-colors duration-500 min-h-screen
}
